.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  z-index: 1;
}

.dropzone .logo {
  margin-bottom: 75px;
}

.dropzone p {
  color: #999;
  text-align: center;
}

.dropzone-title {
  margin-bottom: 75px;
}

.dropzone-title h1 {
  text-align: center;
  font-size: 1.5em;
}

.dropzone-title h2 {
  text-align: center;
  font-size: 1.0em;
}
